<div class="row">
  <div class="col-md-12">  
        
  <%= form_with(model: @website, local: true) do |form| %>
    <%= render partial: 'websites/errors', locals: { object: @website } if @website.errors.any? %>

    <div class="field">
      <%= form.label :url %>
      <%= form.text_field :url, id: :website_url, class: 'form-control', placeholder: "Paste complete website URL", required: true %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, id: :website_email, class: 'form-control', placeholder: "Fill your e-mail address, please", required: true %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-success" %>
    </div>

    <hr>
  <% end %>
  </div>
</div>
